body{
  background-color: #FAF0E6;
}
.App {
  text-align: center;
  font-family: "Trocchi";

  height: 100%;
}


.App-header {
  border-top:  1px solid #777;
  border-bottom:   1px solid #777;
  background-color: white;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-customers{
  position: relative;
  width: 70%;
  left: 15%;
  right: 15%;

}
.App-bg{

background-color: #FAF0E6;

}
