.Nav-body {
  text-align: center;
}

.Cust-ul {
  padding:0;
  list-style:none;
  width: 100%;
  margin:auto;
  border: 2spx solid #777;

}
.Cust-h1{
  border-bottom: 1px double #777;
}
.Cust-li{
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 3px solid #777;
  padding: 10px;
}
.Cust-img{
  text-align: center;
}

.Nav-logo {
  animation: Nav-logo-spin infinite 20s linear;
  position: relative ;
}
@keyframes Nav-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Head-text {
  border-bottom: 1px solid #777;
}
.Cust-text{
  text-align: center;
}
.Form-size1 {
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  width: 50%;

}

.Form-btn {
  color:#111;
  background-color: #FAF0E6;
  padding: 10px 20px;
  width:100px;
  text-decoration:none;
  text-align:center;
  margin:20px auto;
  display: block;
  background-image: linear-gradient(to left,transparent,transparent 50%,#FFB6C1 50%,#FFB6C1);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid #111;
}
.Form-btn:hover {
  background-position: 0 0;
  color:#111;
}
.Form-red {
  border: 1px solid red;

}
.Form-text-red {
  color: red;
}
.Form-btn-2 {
  color:#111;
  background-color: #FAF0E6;
  padding: 10px 10px;
  width:100px;
  text-decoration:none;
  text-align:center;
  margin:15px auto;
  display: block;
  background-image: linear-gradient(to left,transparent,transparent 50%,#FFB6C1 50%,#FFB6C1);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  border: 1px solid #111;
  font-size: 25px;
}
.Form-btn-2:hover {
  background-position: 0 0;
  color:#111;
}
.menu {
  font-weight: 100;
  background: #DCDCDC;
  width: 170px;
  height: 100%;
  padding-left: 50px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  right: -130px;
  transition: all .3s;
  -webkit-transition: all .3s;
  color: #222;
  border-left: 1px solid grey;
  opacity: .5;
}

.menu:hover, .menu:focus {
  transform: translate3d(-130px, 0, 0);
  animation-timing-function: 1s ease-in
}

.menu .title {
  top: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: 0px;
  font-weight: 800;
  font-size: 15px
}

.menu .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100
}

.menu .nav li {
  padding-bottom: 30px;
  list-style-type: none
}

.menu .nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all .3s;
  -webkit-transition: all .3s
}

.menu .nav li a:hover { color: #black }
