.Nav-body {
  text-align: center;
}
.Sweet{
 color: #d54d7b;
 font-family: "Great Vibes", cursive;
 font-size: 140px;
 line-height: 140px;
 font-weight: normal;
 margin-bottom: 0px;
 margin-top: 40px;
 text-align: center;
 text-shadow: 0 1px 1px #fff;
}
.Add-notif {
  color: green;
  font-size: 100px;
  line-height: 140px;
}
.Cust-ul {
  position: relative;
  padding:0;
  list-style:none;
  width: 100%;
  margin:auto;


}
blockquote {
margin: 0;
background: #FAF0E6;
color: #474C4F;
padding: 30px;
position: relative;
text-align: center;
text-transform: uppercase;
font-family: 'Lato', sans-serif;
}
blockquote:before {
content: "";
font-family: FontAwesome;
position: absolute;
z-index: 2;
left: 50%;
transform: translateX(-50%);
top: 14px;
color: #474C4F;
font-size: 20px;
padding: 0 15px;
}
blockquote:after {
content: "";
position: absolute;
left: 15px;
top: 20px;
right: 15px;
height: 4px;
border-top: 1px dotted #474C4F;
border-bottom: 1px dotted #474C4F;
}
blockquote p {
font-size: 50px;
letter-spacing: .05em;
line-height: 1.4;
}
.Use-text {
  color: black;
  font-size:25px;
  letter-spacing: .05em;
  line-height: 1.4;
}
blockquote cite {
font-style: normal;
font-weight: 300;
}
.Nav-art {
  border: 1px solid #474C4F;
  background: #F0F8FF;
}
.Cust-text {


}
.Cust-h1{
  border-bottom: 1px double #777;
}
.Cust-li{

  font-size:5rem;
  line-height: 5rem;
  padding: 10px;
  border-left: 1px dotted #474C4F;
}
.Cust-img{
  border-radius: 0 10px 20px;
  text-align: center;
}
.Cust-image{
  height: 5%;
  width: 80%;
  border-radius:  50px 50px;
  text-align: center;
}

.Nav-logo {
  animation: Nav-logo-spin infinite 20s linear;
  position: relative ;
}
@keyframes Nav-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Head-text {
  border-bottom: 1px solid #777;
}
.Cust-text{
  text-align: center;
}
.Form-size1 {
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  width: 50%;
  text-align: center;
}

.Form-btn {
  color:#111;
  background-color: #FAF0E6;
  padding: 10px 20px;
  width:100px;
  text-decoration:none;
  text-align:center;
  margin:20px auto;
  display: block;
  background-image: linear-gradient(to left,transparent,transparent 50%,#FFB6C1 50%,#FFB6C1);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid #111;
}
.Form-btn:hover {
  background-position: 0 0;
  color:#111;
}
.Form-red {
  border: 1px solid red;

}
.Form-text-red {
  color: red;
}
.Form-btn-1 {
  color:#111;
  background-color: #FAF0E6;
  padding: 10px 10px;
  width:100px;
  text-decoration:none;
  text-align:center;
  margin:15px auto;
  display: block;
  background-image: linear-gradient(to left,transparent,transparent 50%,#98FB98 50%,#98FB98);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  border: 1px solid #111;
  font-size: 25px;
}
.Form-btn-1:hover {
  background-position: 0 0;
  color:#111;
}
.Form-btn-2 {
  color:#111;
  background-color: #FAF0E6;
  padding: 10px 10px;
  width:100px;
  text-decoration:none;
  text-align:center;
  margin:15px auto;
  display: block;
  background-image: linear-gradient(to left,transparent,transparent 50%,#FFB6C1 50%,#FFB6C1);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  border: 1px solid #111;
  font-size: 25px;
}
.Form-btn-2:hover {
  background-position: 0 0;
  color:#111;
}
.menu {
  font-weight: 100;
  background: #DCDCDC;
  width: 170px;
  height: 100%;
  padding-left: 50px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  right: -130px;
  transition: all .3s;
  -webkit-transition: all .3s;
  color: #222;
  border-left: 1px solid grey;
  opacity: .5;
}

.menu:hover, .menu:focus {
  transform: translate3d(-130px, 0, 0);
  animation-timing-function: 1s ease-in
}

.menu .title {
  top: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: 0px;
  font-weight: 800;
  font-size: 15px
}

.menu .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100
}

.menu .nav li {
  padding-bottom: 30px;
  list-style-type: none
}

.menu .nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all .3s;
  -webkit-transition: all .3s
}

.menu .nav li a:hover { color: #black }
